<%#= @class.first %>

<div class="row margin">
  <div class="col-sm-3 col-sm-offset-4">
    
    <h4>Search any github team for all members' recent open source contributions:<h4> 

    <%= render 'cohorts/search' %>
      
  </div>
</div>

