
@import "bootstrap-sprockets";
@import "bootstrap";

.margin {
	margin:20px;
}

.imagesize {
	height : 300px;
	width:300px;
	margin-top: 20px;
	margin-bottom: 20px;

}

.static {
	border: 1px solid black; 
	border-radius: 5%;
}



.main {
	max-width: 500px;
	margin:0 auto;
	text-align: center;
 }


