
@import "bootstrap-sprockets";
@import "bootstrap";

.margin {
	margin:20px;
}

.imagesize {
	height : 250px;
	width:250px;
	margin-top: 20px;
	margin-bottom: 20px;

}
.main {
  max-width: 500px;
  margin:0 auto;
  text-align: center;
 }


